<section class="benefits">
  <div class="container">
    <h1>BENEFITS OF WORKING WITH ME</h1>
    <ul>
      <li>
        <h5>Expertise</h5>
        <p>With extensive experience in development, I have a deep understanding of programming and website development.
        </p>
      </li>
      <li>
        <h5>Communication</h5>
        <p>Understanding your needs and wants is my priority and I am always available for discussions and open to
          corrections.</p>
      </li>
      <li>
        <h5>Art</h5>
        <p>Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
      </li>
      <li>
        <h5>Urgent execution</h5>
        <p>I understand how important time is to you. Ready to work quickly and efficiently, without reducing the
          quality of work.</p>
      </li>
    </ul>
  </div>
</section>