<section class="benefits">
  <div class="container">
    <h1> <span class="accent-color">BENEFITS</span> OF WORKING WITH ME</h1>
    <ul class="benefits-list">
      <li>
        <svg class="svg-user" width="48" height="48">
          <use href="../img/icons-svg.svg#icon-icon-user"></use>
        </svg>
        <h5>Expertise</h5>
        <p>With extensive experience in development, I have a deep understanding of programming and website development.
        </p>
      </li>
      <li>
        <svg class="svg-chat" width="48" height="48">
          <use href="../img/icons-svg.svg#icon-icon-message-chat"></use>
        </svg>
        <h5>Communication</h5>
        <p>Understanding your needs and wants is my priority and I am always available for discussions and open to
          corrections.</p>
      </li>
      <li>
        <svg class="svg-brush" width="48" height="48">
          <use href="../img/icons-svg.svg#icon-icon-brush"></use>
        </svg>
        <h5>Art</h5>
        <p>Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
      </li>
      <li>
        <svg class="svg-hourglass" width="48" height="48">
          <use href="../img/icons-svg.svg#icon-icon-hourglass"></use>
        </svg>
        <h5>Urgent execution</h5>
        <p>I understand how important time is to you. Ready to work quickly and efficiently, without reducing the
          quality of work.</p>
      </li>
    </ul>
  </div>
</section>