<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <a class="footer-logo-link" href="./index.html"
          >Lloyd<span class="accent-color">Jefferson.</span>
        </a>
      </div>
      <div class="footer-social">
        <a
          href="https://www.instagram.com/goitclub/"
          aria-label="Instagram"
          target="_blank"
          >Instagram</a
        >
        <a
          href="https://www.facebook.com/goITclub/"
          aria-label="Facebook"
          target="_blank"
          >Facebook</a
        >
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          aria-label="LinkedIn"
          target="_blank"
          >LinkedIn</a
        >
        <a
          href="https://nastjademchyk.github.io/project-js-teamwork/"
          aria-label="GitHub"
          target="_blank"
          >GitHub</a
        >
      </div>
    </div>
    <p class="footer-copyright">
      <span>© Copyright 2024.</span><span>Made by Lloyd Jefferson.</span>
    </p>
  </div>
</footer>
