<header class="header">
  <div class="container">
    <div class="page-header-container">
      <nav class="page-nav">
        <a class="header-logo" href="./index.html"
          >Lloyd<span class="accent-color">Jefferson.</span></a
        >
        <ul class="page-nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-header-button">About me</a>
          </li>
          <li class="nav-item">
            <a href="#my-projects" class="nav-header-button">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#work-together" class="nav-header-button">Contacts</a>
          </li>
        </ul>
      </nav>

      <div class="switch">
        <input type="checkbox" id="toggle" />
        <label for="toggle"></label>
      </div>
      <button class="icon-burger-btn js-open-menu" type="button">
        <svg class="icon-burger" width="32" height="32">
          <use href="./img/icons-svg.svg#icon-icon-menu-btn"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="modal is-hidden js-modal">
    <a class="header-logo" href="./index.html"
      >Lloyd<span class="accent-color">Jefferson.</span></a
    >
    <button class="modal-close js-close-modal" id="close-modal">
      <svg class="close" width="32" height="32">
        <use href="./img/icons-svg.svg#icon-icon-close-menu"></use>
      </svg>
    </button>
    <div class="modal-nav-section">
      <ul class="modal-nav-item">
        <li><a href="#about" class="nav-header-button">About me</a></li>
        <li><a href="#my-projects" class="nav-header-button">Projects</a></li>
        <li>
          <a href="#work-together" class="nav-header-button">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
