<section class="hero light-theme">
  <div class="container hero-container">
    <div class="hero-content">
      <h1>HELLO, I AM<span class="highlight">FULLSTACK DEVELOPER</span></h1>
      <a href="#work-together" class="hero-text-order">ORDER THE PROJECT</a>
      <p class="hero-text">
        I work with people all over the world to create
        <span class="link-order">impressive</span> and
        <span class="link-order">functional</span> websites that reflect each
        client’s unique personality.
      </p>

      <picture>
        <source
          srcset="
            ./img/hero-img-light/hero-desc-light-x1.jpg 1x,
            ./img/hero-img-light/hero-desc-light-x2.jpg 2x
          "
          media="(prefers-color-scheme: light) and (min-width: 1280px)"
        />
        <source
          srcset="
            ./img/hero-img-dark-x1/hero-desc-dark-x1.png 1x,
            ./img/hero-img-dark-x1/hero-desc-dark-x2.png 2x
          "
          media="(prefers-color-scheme: dark) and (min-width: 1280px)"
        />

        <img
          class="hero-light-img"
          src="../img/hero-img-light/hero-desc-light-x1.jpg"
          alt="man"
          width="592"
          height="444"
        />
      </picture>
    </div>
    <div class="container-social-links">
      <ul class="hero-social-links-list">
        <li class="hero-link">
          <a
            href="https://www.instagram.com/goitclub/ "
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li class="hero-link">
          <a
            href=" https://www.facebook.com/goITclub/ "
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </li>
        <li class="hero-link">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it "
            rel="noopener noreferrer"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="hero-link">
          <a
            href="https://github.com/nastjademchyk/project-js-teamwork"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
