<div class="backdrop">
  <div class="modal">
    <button class="modal-close-btn" type="button ">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="../img/icons-svg.svg#icon-icon-close-menu"></use>
      </svg>
    </button>
    <div class="modal-wrapper">
      <h3 class="modal-h3">Thank you for your interest in cooperation!</h3>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
