<section class="my-projects" id="my-projects">
  <div class="container">
    <h2 class="title">MY <span class="title-projects">PROJECTS</span></h2>
    <ul class="projects-list">
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-1-x1.jpg,
            /img/projects-img-x2/projects-1-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-1-x1.jpg"
          alt="project-1"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">power pulse webservice</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-2-x1.jpg,
            /img/projects-img-x2/projects-2-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-2-x1.jpg"
          alt="project-2"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">mimino website</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-3-x1.jpg,
            /img/projects-img-x2/projects-3-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-3-x1.jpg"
          alt="project-3"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">vyshyvanka vibes Landing Page</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-4-x1.jpg,
            /img/projects-img-x2/projects-4-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-4-x1.jpg"
          alt="project-4"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">green harvest online store</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-5-x1.jpg,
            /img/projects-img-x2/projects-5-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-5-x1.jpg"
          alt="project-5"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">wallet webservice</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-6-x1.jpg,
            /img/projects-img-x2/projects-6-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-6-x1.jpg"
          alt="project-6"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">chego jewelry website</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-7-x1.jpg,
            /img/projects-img-x2/projects-7-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-7-x1.jpg"
          alt="project-7"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">energy flow webservice</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-8-x1.jpg,
            /img/projects-img-x2/projects-8-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-8-x1.jpg"
          alt="project-8"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">fruitbox online store</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-9-x1.jpg,
            /img/projects-img-x2/projects-9-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-9-x1.jpg"
          alt="project-9"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">English excellence webservice</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
      <li class="project-item is-hidden">
        <img
          srcset="
            /img/projects-img-x1/projects-10-x1.jpg,
            /img/projects-img-x2/projects-10-x2.jpg 2x
          "
          class="img-project"
          src="/img/projects-img-x1/projects-10-x1.jpg"
          alt="project-10"
        />
        <div class="content-container">
          <div class="item-content">
            <p class="item-text">React, JavaScript, Node JS, Git</p>
            <h3 class="project-name">starlight studio landing page</h3>
          </div>
          <a
            class="link-project"
            href="https://nastjademchyk.github.io/project-js-teamwork/"
            target="_blank"
            >VISIT
            <svg class="icon-visit" width="18" height="18">
              <use href="/img/icons-svg.svg#icon-icon-arrow-visit"></use></svg
          ></a>
        </div>
      </li>
    </ul>
    <button class="btn-load is-hidden" type="button">load more</button>
  </div>
</section>
