<section id="reviewsId" class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <ul class="swiper-wrapper reviews-list"></ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-btns">
        <button class="swiper-next-btn">
          <svg class="swiper-next-svg" width="24" height="24">
            <use href="./img/icons-svg.svg#icon-icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button class="swiper-prev-btn" disabled>
          <svg class="swiper-prev-svg" width="24" height="24">
            <use href="./img/icons-svg.svg#icon-icon-arrow-narrow-right-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
