<section class="tech-skills">
  <div class="container tech_primery">
    <h2 class="tech_nav">Tech Skills</h2>
    <div class="tech_container">
      <div class="tech_line background_tech_one">
        <div class="tech_line_track">
          <p class="tech_item_one">HTML/CSS</p>
          <p class="tech_item_one">REACT</p>
          <p class="tech_item_one">NODE.JS</p>
          <p class="tech_item_one">REACT NATIVE</p>
          <p class="tech_item_one">TYPESCRIPT</p>
          <p class="tech_item_one">HTML/CSS</p>
          <p class="tech_item_one">REACT</p>
          <p class="tech_item_one">NODE.JS</p>
          <p class="tech_item_one">REACT NATIVE</p>
          <p class="tech_item_one">TYPESCRIPT</p>
          <p class="tech_item_one">HTML/CSS</p>
          <p class="tech_item_one">REACT</p>
          <p class="tech_item_one">NODE.JS</p>
          <p class="tech_item_one">REACT NATIVE</p>
          <p class="tech_item_one">TYPESCRIPT</p>
        </div>
      </div>

      <div class="tech_line background_tech_two">
        <div class="tech_line_track_second">
          <p class="tech_item_two">HTML/CSS</p>
          <p class="tech_item_two">REACT</p>
          <p class="tech_item_two">NODE.JS</p>
          <p class="tech_item_two">REACT NATIVE</p>
          <p class="tech_item_two">TYPESCRIPT</p>
          <p class="tech_item_two">HTML/CSS</p>
          <p class="tech_item_two">REACT</p>
          <p class="tech_item_two">NODE.JS</p>
          <p class="tech_item_two">REACT NATIVE</p>
          <p class="tech_item_two">TYPESCRIPT</p>
          <p class="tech_item_two">HTML/CSS</p>
          <p class="tech_item_two">REACT</p>
          <p class="tech_item_two">NODE.JS</p>
          <p class="tech_item_two">REACT NATIVE</p>
          <p class="tech_item_two">TYPESCRIPT</p>
      </div>
    </div>
  </div>
</section>
