<section class="tech-skills">
  <div class="container tech-primery">
    <h2 class="tech-nav">Tech Skills</h2>
    <div class="tech-container">
      <div class="tech-line background-tech-one">
        <div class="tech-line-track">
          <p class="tech-item-one">HTML/CSS</p>
          <p class="tech-item-one">REACT</p>
          <p class="tech-item-one">NODE.JS</p>
          <p class="tech-item-one">REACT NATIVE</p>
          <p class="tech-item-one">TYPESCRIPT</p>
          <p class="tech-item-one">HTML/CSS</p>
          <p class="tech-item-one">REACT</p>
          <p class="tech-item-one">NODE.JS</p>
          <p class="tech-item-one">REACT NATIVE</p>
          <p class="tech-item-one">TYPESCRIPT</p>
          <p class="tech-item-one">HTML/CSS</p>
          <p class="tech-item-one">REACT</p>
          <p class="tech-item-one">NODE.JS</p>
          <p class="tech-item-one">REACT NATIVE</p>
          <p class="tech-item-one">TYPESCRIPT</p>
        </div>
      </div>

      <div class="tech-line background-tech-two">
        <div class="tech-line-track-second">
          <p class="tech-item-two">HTML/CSS</p>
          <p class="tech-item-two">REACT</p>
          <p class="tech-item-two">NODE.JS</p>
          <p class="tech-item-two">REACT NATIVE</p>
          <p class="tech-item-two">TYPESCRIPT</p>
          <p class="tech-item-two">HTML/CSS</p>
          <p class="tech-item-two">REACT</p>
          <p class="tech-item-two">NODE.JS</p>
          <p class="tech-item-two">REACT NATIVE</p>
          <p class="tech-item-two">TYPESCRIPT</p>
          <p class="tech-item-two">HTML/CSS</p>
          <p class="tech-item-two">REACT</p>
          <p class="tech-item-two">NODE.JS</p>
          <p class="tech-item-two">REACT NATIVE</p>
          <p class="tech-item-two">TYPESCRIPT</p>
      </div>
    </div>
  </div>
</section>
