/* .about {
    padding-bottom: 80px;
} */

.about-title {
    font-weight: 400;
    font-size: 52px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    text-align: left;
    padding-bottom: 40px;
    font-family: "Impact", sans-serif;
}

.about-span {
    color: #00b068;
}

.about-image {
    border-radius: 16px;
    display: block;
    min-width: 100%;
    margin-bottom: 40px;
}

.about-text-container {
    margin-bottom: 40px;

}

.about-title-two {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
}

.about-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
    font-family: "Poppins", sans-serif;
}

.special-dash {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    height: 32px;
}

.dash-list-education {
    height: 12px;
}

.about-list-education {
    
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
    padding-bottom: 40px;
}

.marker {
    border-radius: 1px;
    width: 4px;
    height: 4px;
    background: #00B068;
    transform: rotate(-180deg);
    margin-right: 10px;
    flex-shrink: 0;
}

.year {
    
    margin-right: 5px;
    /* Відступ праворуч від року */
}

.about-item-education {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;

    /* flex-direction: row;
    align-items: center; */

}

.about-title-two {
    margin-bottom: 32px;
}

.new {
    margin-bottom: 24px;
}


@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
    .about-title {
        font-size: 108px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }

    .about-image {
        width: 336px;
        height: 392px;
        margin-bottom: 0;
    }

    .about-content {
        display: flex;
        gap: 32px;
        margin-bottom: 60px;
    }

    .ab-im {
       padding-top: 408px;
    }

    .li-im {
        width: calc((100% - 32px)/1);
    }

    .about-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;
        }
        
    .education-block,
    .role-block {
        flex: 1;
        }
        .education-block
    .about-list-education{
        padding-bottom: 0;
        }
    .about-text-container{
        background-image: url('../img/bg-img-x1/bg6-tablet-x1.png');
        background-position: center bottom;
        background-size:auto;
        background-repeat: no-repeat;
        margin-bottom: -160px;
        margin-bottom: 12px;
        position: relative;
        z-index: 1;
    }
   
    .about-text:last-of-type::before {
        position: absolute;
        z-index: -1;
            }
                    
  }