:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-impact: 'Impact', sans-serif;

  --color-black: #292929;
  --color-accent-green: #00b068;
  --color-white: #f0f0f0;
  --color-light-grey: #e4e5e6;
  --color-light-accent: #bcdfd1;
  --color-hover-green: #009156;
  --color-error: #e74a3b;
  --color-hover-grey: #bbbbbb;

  /* Desktop-Tablet */
  --h1-desktop-font-size: 136px;
  --h1-desktop-line-height: 1.15;
  --h1-desktop-letter-spacing: 0.013em;

  --h2-desktop-font-size: 108px;
  --h2-desktop-line-height: 1.15;
  --h2-desktop-letter-spacing: 0.016em;

  --h3-desktop-font-size: 36px;
  --h3-desktop-line-height: 1.33;
  --h3-desktop-letter-spacing: 0.01em;

  --body1-desktop-font-size: 16px;
  --body1-desktop-line-height: 1.5;
  --body1-desktop-letter-spacing: 0.1em;

  --body2-desktop-font-size: 20px;
  --body2-desktop-line-height: 1.6;
  --body2-desktop-letter-spacing: 0.025em;

  /* Mobile */
  --h1-mobile-font-size: 64px;
  --h1-mobile-line-height: 1.25;
  --h1-mobile-letter-spacing: 0.03em;

  --h2-mobile-font-size: 52px;
  --h2-mobile-line-height: 1.23;
  --h2-mobile-letter-spacing: 0.03em;

  --h3-mobile-font-size: 32px;
  --h3-mobile-line-height: 1.25;
  --h3-mobile-letter-spacing: 0.015em;

  --body1-mobile-font-size: 16px;
  --body1-mobile-line-height: 1.5;
  --body1-mobile-letter-spacing: 0.1em;

  --body2-mobile-font-size: 18px;
  --body2-mobile-line-height: 1.55;
  --body2-mobile-letter-spacing: 0.027em;
}

@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  /* font-display: swap; */
}
body {
  font-family: var(--font-poppins);
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: #292929;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.accent-color {
  color: #00b068;
}
/* Styles for Mobile devices */
section {
  padding-bottom: 80px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  section {
    padding-bottom: 124px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  section {
    padding-bottom: 164px;
  }
}

.dark-theme .iziToast.custom-error p {
  background: transparent;
}
.dark-theme,
.dark-theme h1,
.dark-theme p,
.dark-theme .hero-link,
.dark-theme .hero-text-order,
.dark-theme .about-item-education,
.dark-theme .about-title-two,
.dark-theme .benefits-h2,
.dark-theme .faq-title,
.dark-theme .ac-trigger,
.dark-theme .work-together-title,
.dark-theme .footer,
.dark-theme .footer-social a,
.dark-theme .btn-load,
.dark-theme .icon-burger,
.dark-theme .ac-item,
.dark-theme .modal {
  background-color: #1e2023;
  color: #f0f0f0;
}

.dark-theme .ac-trigger .is-active {
  background: #204136;
}

.dark-theme .ac-item.is-active,
.dark-theme .background-tech-one {
  background: #204136;
}
.dark-theme .container-social-links,
.dark-theme .background-tech-two,
.dark-theme .link-project,
.dark-theme .review-item,
.dark-theme .review-text,
.dark-theme .form-input,
.dark-theme .modal-wrapper,
.dark-theme .hero-link {
  background: #2a2d32;
}
.dark-theme .header {
  background-color: #1e2023;
}
.dark-theme .order-square {
  background: #14c57c;
}
.dark-theme .left-contact-icon {
  stroke: #14c57c;
}
.dark-theme .tech-item-two,
.dark-theme .nav-header-button:hover {
  color: #14c57c;
}
.dark-theme .svg-chat,
.dark-theme .svg-brush,
.dark-theme .svg-user,
.dark-theme .svg-hourglass {
  background: #204136;
  fill: #204136;
}

.dark-theme .form-status-error {
  color: #e74a3b;
}

.dark-theme .form-input::placeholder,
.dark-theme .form-input-comments::placeholder,
.dark-theme .benefits-item-title {
  color: #f0f0f0;
}

.dark-theme .faq-icon {
  stroke: #f0f0f0;
}

.dark-theme .link-project:hover {
  background: #3b3f45;
}

.dark-theme .tech-item-one,
.dark-theme .ac-panel,
.dark-theme .ac-trigger,
.dark-theme .ac-text {
  background: #204136;
}

.dark-theme .tech-item-two {
  background: #2a2d32;
}

.dark-theme .ac-trigger {
  background-color: transparent;
}

.dark-theme.tech-item-one:not(:last-child)::after,
.dark-theme .tech-item-two:not(:last-child)::after {
  background: #f0f0f0;
}

.dark-theme.tech-item-two:not(:last-child)::after {
  background: #14c57c;
}

.dark-theme .swiper-prev-btn,
.dark-theme .swiper-next-btn {
  border: 1px solid #f0f0f0;
}

.dark-theme .swiper-prev-btn:disabled,
.dark-theme .swiper-next-btn:disabled {
  border-color: #2a2d32;
  cursor: not-allowed;
}

.dark-theme .swiper-prev-btn:disabled svg use,
.dark-theme .swiper-next-btn:disabled svg use {
  stroke: #2a2d32;
  fill: transparent;
}
.dark-theme .swiper-prev-svg,
.dark-theme .swiper-next-svg,
.dark-theme .close {
  stroke: #f0f0f0;
  fill: transparent;
}

.dark-theme .form-input {
  color: #f0f0f0;
}

.dark-theme .icon-burger {
  fill: #f0f0f0;
}
.dark-theme .icon-burger-btn {
  background-color: #1e2023;
}
.dark-theme .modal-wrapper {
  background: #2a2d32;
  border: none;
  border-radius: 16px;
}
.dark-theme .modal-form {
  border: none;
  box-shadow: none;
  background: none;
}

.dark-theme .modal-text {
  background: #2a2d32;
}

.dark-theme .modal-close-btn {
  stroke-width: 2px;
  stroke: #f0f0f0;
  background: #2a2d32;
}
