
.faq-title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 40px;
}

.ac-item {
    border-bottom: 1px solid #e4e5e6;
    padding: 28px 24px;
}

.ac-item.is-active {
    border-radius: 16px;
    background: #bcdfd1;
}

.ac-trigger {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: flex-center;
    text-align: left;
    width: 100%;
    border: none;
    padding: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
}

.faq-icon {
    padding: 8px;
    max-width: 32px;
    max-height: 32px;
    stroke: #292929;
    fill: transparent;
    cursor: pointer;
} 



.ac-panel {
    visibility: hidden;
    overflow: hidden;
}

.ac-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
    margin-top: 24px;
}

.ac-item.is-active .ac-panel {
    visibility: visible;
    max-height: 1000px;

}

.ac-item.open .ac-panel {
    display: block;
}

.ac-item.is-active .ac-panel {
    max-height: 720px;
}

.ac-item.is-active .faq-icon {
    transform: rotate(180deg);
}


@media only screen and (min-width: 768px) {

    .faq-title {
        font-size: 108px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-bottom: 60px;
    }

    .ac-trigger {
        display: flex;
        gap: 24px;
        justify-content: space-between;
        align-items: flex-center;
        text-align: left;
        width: 100%;
        border: none;
        padding: 0;
        line-height: 1.6;
        font-size: 20px;
    }
}


@media only screen and (min-width: 1280px) {

    .faq-container {
        background-image: url(../img/bg-img-x1/bg4-desc-x1.png);
        background-repeat: no-repeat;
        background-size: 526px 408px;
        background-position: 32px 100%;
        }

    @media screen and (min-resolution: 192dpi) {
        .faq-container {
        background-image: url(../img/bg-img-x2/bg4-desc-x2.png);
        }
        }

    .faq-container {
    display: flex;
    gap: 104px;
    height: 1020px;
    }

    .accordion-container {
    max-width: 592px;
    margin-top: 276px;
    }
    
    .faq-title {
    max-width: 520px;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
    }
}

