.footer {
  border-top: #e4e5e6 1px solid;
  background-color: #fff;
}

.footer .container {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  padding: 40px 20px 24px 20px;
  box-sizing: border-box;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column; /* Елементи в стовпчик на мобільних пристроях */
  margin-left: auto;
  margin-right: auto;
}

/* Стиль логотипу в футері */
.footer-logo {
  text-transform: uppercase;
  font-family: Impact;

  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-decoration: none;

  margin-bottom: 32px; /* Темний текст */
}

/* Соціальні посилання без іконок */
.footer-social {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  line-height: 150%;
  font-size: 16px;
  font-weight: 300;
}

.footer-social a {
  display: inline-block;
  color: black;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #00b068;
}

/* Підпис */
.footer-copyright {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  margin-top: 40px;
  color: #292929;
  text-align: center; /* Вирівнюємо копірайт по центру */
  letter-spacing: 0.03em;
}

/* Адаптивність */
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: column;
    justify-content: space-between;

    text-align: left;
  }
  .footer .container {
    padding: 40px 32px 24px 32px;
  }
  .footer-social {
    flex-direction: row;
    gap: 40px;
    letter-spacing: 0.03em;
  }
  .footer-copyright {
    width: 351px;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer .container {
    padding: 40px 32px 24px 32px;
  }
  .footer-content {
    flex-direction: row;
  }

  .footer-logo {
    font-size: 32px;
  }

  .footer-social {
    font-size: 16px;
  }
}
