html,
body {
  overflow-x: hidden;
  width: 100vw;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999999999;
  background-color: #f0f0f0;
  padding: 20px 0;
  overflow: hidden;
  transition: background-color 0.1s, box-shadow 0.1s;
}
.header-placeholder {
  height: 96px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  background: #f0f0f0;
  z-index: 9999;
}

.modal.is-visible {
  opacity: 1;
}

.header-logo {
  text-transform: uppercase;
  font-family: Impact;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-align: left;
  text-decoration: none;
}
.page-nav-list {
  display: none;
}
.icon-burger-btn {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav-item:hover,
.nav-item:focus {
  color: #00b068;
}

.page-header-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  box-sizing: border-box;

  flex-direction: row;
  font-size: 24px;
  gap: 10px;
}
.switch {
  position: relative;
  width: 48px;
  height: 24px;
}

.switch input {
  display: none;
}

.switch label {
  display: block;
  position: relative;
  cursor: pointer;
  background-color: #e4e5e6;
  border-radius: 15px;
  width: 48px;
  height: 24px;
  transition: background-color 0.2s;
}

/* Створюємо кружок */
.switch label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  background-color: #00b068;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}

/* Зміна кольору фону перемикача при активному стані */
.switch input:checked + label {
  background-color: black;
}

/* Переміщення кружка праворуч при активному стані */
.switch input:checked + label::before {
  transform: translateX(21px);
  background-color: #00b068;
}

.switch input:checked + label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 16px;
  width: 20px;
  height: 20px;
  /* background-color: black; */
  border-radius: 50%;
}

@media screen and (min-width: 360px) {
  .page-header-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .switch {
    margin-top: 0;
  }

  .header-logo {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 32px 0;
  }

  .header-logo {
    font-size: 32px;
  }
  .page-header-container {
    align-items: baseline;
    margin-right: auto;
  }

  .page-nav {
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  .page-nav-list {
    display: flex;
    align-items: end;
    line-height: 24px;
    font-weight: 300;
    gap: 40px;
  }

  .icon-burger-btn {
    display: none;
  }

  .nav-header-button {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  header {
    padding: 32px 0;
  }

  .header-logo {
    font-size: 32px;
  }

  .nav-header-button {
    font-size: 18px;
  }
}
#about {
  padding-top: 100px;
  margin-top: -100px;
}
#my-projects {
  padding-top: 100px;
  margin-top: -100px;
}
#work-together {
  padding-top: 100px;
  margin-top: -100px;
}
