header {
  position: fixed; /* Фіксуємо хедер */
  top: 0; /* Розміщуємо його зверху */
  left: 0; /* Рівняємо по лівому краю */
  width: 100%; /* Задаємо повну ширину */
  z-index: 9999999999999; /* Задній план, щоб не перекривався іншими елементами */
  background-color: #f0f0f0; /* Фон хедера */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); Тінь для виділення */
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.modal {
  background: #f0f0f0;
}

.header-logo {
  text-transform: uppercase;
  font-family: Impact;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-align: left;
  text-decoration: none;
}
.page-nav-list {
  display: none;
}
.icon-burger-btn {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav-item:hover,
.nav-item:focus {
  color: #00b068;
}

.page-header-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  box-sizing: border-box;
}
.switch {
  position: relative;
  width: 48px;
  height: 24px;
}

.switch input {
  display: none; /* Сховати стандартний чекбокс */
}

.switch label {
  display: block;
  position: relative;
  cursor: pointer;
  background-color: #e4e5e6; /* Колір фону перемикача */
  border-radius: 15px; /* Заокруглені кути */
  width: 48px;
  height: 24px;
  transition: background-color 0.2s; /* Анімація фону */
}

/* Створюємо кружок */
.switch label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px; /* Позиція кружка */
  background-color: #00b068; /* Колір кружка */
  border-radius: 50%; /* Кругла форма */
  width: 20px; /* Ширина кружка */
  height: 20px; /* Висота кружка */
  transition: transform 0.3s; /* Анімація переміщення */
}

/* Зміна кольору фону перемикача при активному стані */
.switch input:checked + label {
  background-color: black; /* Чорний фон при активному стані */
}

/* Переміщення кружка праворуч при активному стані */
.switch input:checked + label::before {
  transform: translateX(21px); /* Переміщення праворуч */
  background-color: #00b068;
}

/* Маска для створення півмісяця */
.switch input:checked + label::after {
  content: '';
  position: absolute;
  top: 2px; /* Зверху */
  left: 16px; /* Відступ зліва для маски */
  width: 20px; /* Ширина маски */
  height: 20px; /* Висота маски */
  background-color: black; /* Чорний колір маски */
  border-radius: 50%; /* Кругла форма маски */
}

@media screen and (min-width: 360px) {
  .page-header-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .switch {
    margin-top: 0;
  }

  .header-logo {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
  }
}
@media screen and (min-width: 768px) {
  header {
    padding: 32px;
  }
  .page-header-container {
    align-items: baseline;
  }
  .header .container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .header-logo {
    margin-right: 84px;
  }
  .page-nav {
    width: 100%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  .page-nav-list {
    display: flex; /* Показуємо меню на планшетах */
    align-items: end;
    line-height: 24px;
    font-weight: 300;
    gap: 40px;
  }

  .icon-burger-btn {
    display: none; /* Ховаємо бургер-меню на планшетах */
  }

  .nav-header-button {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .header-logo {
    font-size: 32px; /* Збільшуємо розмір логотипу */
    margin-right: 646px;
  }

  .nav-header-button {
    font-size: 18px;
  }
}
