.hero {
  min-height: 968px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 92px;
  position: relative;
  margin-bottom: 40px;
}

.arrow-icon {
  fill: #00b068;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 704px;
}

h1 {
  font-family: var(--font-impact);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  display: block;
}

.h1-img {
  margin-top: 112px;
  margin-bottom: 40px;
}

.hero-text-order {
  display: flex;
  align-items: center;
  position: relative;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  z-index: 2;
}

.order-square {
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background: #bcdfd1;
  position: absolute;
  right: -90px;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}

.hero-text-order:hover .order-square {
  background-color: #00a86b;
}

.hero-text {
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

p:last-child {
  margin-bottom: 72px;
}

.hero-link {
  font-family: var(--font-poppins);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.container-social-links {
  background: #e4e5e6;
  width: 100vw;
}

.hero-social-links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-light-img {
  border-radius: 32px;
  display: none;
}

.light-theme .hero-content {
  background-image: url(../img/bg-hero-img-lx1/bg-hero-mob-light-x1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .light-theme .hero-content {
    background-image: url(../img/bg-hero-img-x2/bg-hero-mob-light-x2.png);
  }
}

/*-----------------Tablet----------------*/
@media only screen and (min-width: 768px) {
  .h1-img {
    margin-top: 88px;
    margin-bottom: 60px;
  }

  p:last-child {
    margin-bottom: 104px;
  }

  .order-square {
    width: 261px;
    height: 96px;
    right: -167px;
  }

  .hero-text-order {
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-text {
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 124px;
    line-height: 1.19;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #292929;
  }

  .hero-social-links-list {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .light-theme .hero-content {
    background-image: url(../img/bg-hero-img-lx1/bg-hero-tablet-light-x1.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .light-theme .hero-content {
      background-image: url(../img/bg-hero-img-x2/bg-hero-tablet-light-x2.png);
    }
  }

  /*-----------------Desktop----------------*/

  @media only screen and (min-width: 1280px) {
    .h1-img {
      display: flex;
      gap: 72px;
      width: 100%;
      margin-bottom: 80px;
    }

    .desk-arrow-text {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 96px;
      justify-content: space-between;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .hero-text {
      max-width: 592px;
    }

    .hero-light-img {
      display: block;
      max-width: none;
    }

    .arrow-icon {
      width: 30px;
    }

    .arrow-box {
      margin-left: 72px;
      margin-bottom: 0;
    }

    .highlight {
      font-weight: 400;
      font-size: 124px;
    }

    .light-theme .hero-content {
      background-image: url(../img/bg-hero-img-lx1/bg-hero-desc-light-x1.png);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .light-theme .hero-content {
        background-image: url(../img/bg-hero-img-x2/bg-hero-desc-light-x2.png);
      }
    }
  }
}
