.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(41, 41, 41, 0.8);
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 320px;
  min-height: 328px;
  background: #f0f0f0;
  border: 1px solid #e4e5e6;
  border-radius: 16px;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.19);
}

.modal-close-btn {
  stroke-width: 2px;
  stroke: #292929;
  fill: #292929;
  position: absolute;
  top: 16px;
  right: 16px;

  border: none;
  padding: 0;
  cursor: pointer;
}

.modal-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #292929;
}

.modal-h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #00b068;
  padding-bottom: 16px;
}

.modal-wrapper {
  padding: 48px 32px;
}

@media only screen and (min-width: 768px) {
  .modal-form {
    width: 492px;
    min-height: 280px;
  }

  .modal-wrapper {
    padding: 64px;
  }
}

@media only screen and (min-width: 1280px) {
}
