/* ========== Background img ========== */
@media only screen and (min-width: 768px) {
  .container-work-together {
    background-image: url('../img/bg-img-x1/bg7-tablet-x1.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0px;
  }

  @media (min-resolution: 192dpi) {
    .work-together {
      background-image: url('../img/bg-img-x2/bg7-tablet-x2.png');
    }
  }
}

@media only screen and (min-width: 1280px) {
  .container-work-together {
    background-image: url('../img/bg-img-x1/bg3-desc-x1.png');
  }

  @media (min-resolution: 192dpi) {
    .container-work-together {
      background-image: url('../img/bg-img-x2/bg3-desc-x2.png');
    }
  }
}

.work-together-title {
  font-family: var(--font-impact);
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-black);

  width: 253px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .work-together-title {
    font-size: 108px;
    line-height: 1.148;
    letter-spacing: 0.01em;

    width: 507px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .work-together-title {
    margin-bottom: 80px;
  }
}

.work-together-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .work-together-wrap {
    gap: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .work-together-wrap {
    flex-direction: row;
    gap: 136px;
  }
}

/* ========== Left Side ========== */

.work-together-left {
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .work-together-left {
    width: 488px;
  }
}

.left-text {
  font-family: var(---font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--body2-mobile-line-height);
  letter-spacing: var(--body2-mobile-letter-spacing);
  text-transform: uppercase;
  color: var(--color-black);

  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .left-text {
    font-size: 20px;
    line-height: var(--body2-desktop-line-height);
    letter-spacing: var(--body2-desktop-letter-spacing);

    width: 488px;
  }
}

@media only screen and (min-width: 1280px) {
  .left-text {
    margin-bottom: 120px;
    width: 100%;
  }
}

.left-contact-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .left-contact-list {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
  .left-contact-list {
    flex-direction: column;
  }
}

.left-contact-list > .left-contact-link:not(:last-child) {
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .left-contact-list > .left-contact-link:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .left-contact-list > .left-contact-link:not(:last-child) {
    margin-bottom: 16px;
  }
}

.left-contact-link {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
}

.left-contact-link:hover,
.left-contact-link:focus {
  color: var(--color-accent-green);
}

.left-contact-icon {
  stroke: var(--color-accent-green);
  fill: transparent;
}

/* ========== Right Side ========== */

.work-together-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .work-together-right {
    display: flex;
    width: 592px;
  }
}

.form-input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 15px;

  border: none;
  border-radius: 8px;
  background-color: var(--color-light-grey);
  cursor: pointer;
  outline: none;
  font-weight: 300;
  font-size: 16px;
}

.form-input:focus,
.form-input:valid {
  outline: none;
}

.form-input-icon {
  position: absolute;
  top: 16px;
  right: 16px;

  fill: var(--color-accent-green);

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comments {
  resize: none;
  height: 128px;
}

.form-button {
  width: 100%;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  background: var(--color-accent-green);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  color: var(--color-white);
  text-transform: uppercase;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .form-button {
    width: 173px;
  }
}

.form-button:hover,
.form-button:focus {
  background-color: var(--color-hover-green);
  outline: none;
}

/* ========== Validation ========== */

.form-status-error {
  position: absolute;
  bottom: -4px;
  display: block;
  transform: translateY(100%);

  color: var(--color-error);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.042em;

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-email:not(:placeholder-shown):required:invalid {
  color: var(--color-error);
}

.form-input-email:not(:placeholder-shown):required:invalid
  ~ .form-status-error {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
}

.form-input-email:not(:placeholder-shown):required:valid ~ .form-input-icon {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
